/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-spinner/animations/ball-atom';

/* Custom styles */
body {
  background-color: #f5f5f5;
  height: calc(100dvh - 57px);
}

.navbar-nav {
  .nav-item{
    .active {
      color: #8449a8;
      font-weight: 600;
    }
  }
}

.card {
  border-radius: 15px;
}

.card-title {
  margin-bottom: 0.5rem;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #8449a8;
  border: none;
}

.btn-primary:hover {
  background-color: #5d3a82;
}

.text-primary {
  color: #8449a8 !important;
}
